<%= form_with(model: serf, local: true) do |form| %>
  <% if serf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(serf.errors.count, "error") %> prohibited this serf from being saved:</h2>

      <ul>
      <% serf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :staffId %>
    <%= form.number_field :staffId, id: :serf_staffId %>
  </div>

  <div class="field">
    <%= form.label :checkinId %>
    <%= form.number_field :checkinId, id: :serf_checkinId %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
