<p id="notice"><%= notice %></p>

<h1>Serves</h1>

<table>
  <thead>
    <tr>
      <th>Staffid</th>
      <th>Checkinid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @serves.each do |serf| %>
      <tr>
        <td><%= serf.staffId %></td>
        <td><%= serf.checkinId %></td>
        <td><%= link_to 'Show', serf %></td>
        <td><%= link_to 'Edit', edit_serf_path(serf) %></td>
        <td><%= link_to 'Destroy', serf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Serf', new_serf_path %>
