<p id="notice"><%= notice %></p>

<p>
  <strong>Staffid:</strong>
  <%= @serf.staffId %>
</p>

<p>
  <strong>Checkinid:</strong>
  <%= @serf.checkinId %>
</p>

<%= link_to 'Edit', edit_serf_path(@serf) %> |
<%= link_to 'Back', serves_path %>
